<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531033211381-mdnor4j25shnapkt6j24ddbuforgd7kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531033211381-mdnor4j25shnapkt6j24ddbuforgd7kb</string>
	<key>API_KEY</key>
	<string>AIzaSyDDxNGl4ntj0MuzbIjXW-15I5zf3HhpX-s</string>
	<key>GCM_SENDER_ID</key>
	<string>531033211381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-41266</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-41266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531033211381:ios:953cd8b31daa832b73a0bc</string>
</dict>
</plist>